:root{
    --bgc:#fff;
    --linkedinmavisi:#0d6efd;
    --hoverkremi:#ddd; 
    --textcolor:#000;
    --grirenk:rgb(0 0 0 / 60%);
    --googlered:#de5246 ;
    --googlegrey:#d2d2d2;
    --googledarkgrey:#2d2d2d;
    --linkedinlacivert:#004182;
    --colorcrema:#FAF3F0;
    --asd:#FFF0F5;
    --bodybgc:#f3f2ef;
    --confirmGreen:#32CD32;
}
.editPage{
    padding-top: 3rem;
    width: 100%;
    justify-content: center;
}
.editPhoto{
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: fill;
}
.editProfilePhoto{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.editBackground{
    display: flex;
    flex-direction: column;
    align-items: center; 
  
}
.changePhoto{
    margin-top: 5px;
    padding: 0 !important;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 5px 5px 5px 5px;
    border-color: var(--googledarkgrey);
    border: 1px solid;
    background-color: var(--linkedinlacivert);
    color: var(--asd);
    transition: ease 0.3s;
}
.changePhoto:hover{
   box-shadow: 0px 1px 2px 0px var(--linkedinlacivert);
   border-color: var(--linkedinlacivert);
   color: var(--hoverkremi);
}
.editInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
}
.editPassAndMail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
}
.editInput{
    margin-bottom: 10px;
    border-radius: 5rem;
    padding-left: 0.9rem;
    background-color: var(--bgc);
    transition: ease 0.5s;  
}
.ConfirmButton{
    font-size: 1.8rem;
    background-color: var(--confirmGreen);
    color:var(--bgc);
    font-weight: 600;
    border: none;
    border-radius: 5rem;
    transition: ease 0.3s;
    cursor: pointer;
}
.ConfirmButton:hover{
    box-shadow: 0px 1px 2px 0px var(--confirmGreen);
}
.ConfirmButton:disabled{
    background-color: var(--googlegrey);
    box-shadow: none;
    cursor: not-allowed;
}
.editBackgroundPhoto{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.editBackground{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 35rem;
    max-height: 12rem;
    width: auto;
    height: auto;
}
.backGroundChangeButton{
    margin-top: 32px;
    padding: 0 !important;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 5px 5px 5px 5px;
    border-color: var(--googledarkgrey);
    border: 1px solid;
    background-color: var(--linkedinlacivert);
    color: var(--asd);
    transition: ease 0.3s;
}
.backGroundChangeButton:hover{
    box-shadow: 0px 1px 2px 0px var(--linkedinlacivert);
    border-color: var(--linkedinlacivert);
    color: var(--hoverkremi);
}
#profilePhotoUpload{
    font-size: 1rem
}
#backgroundPhotoUpload{
    margin-top: 32rem;
    font-size: 1rem;
}
input[type="file"]{
    display: none;
}
.profilePhotoLabel{
    background-color: #025bee;
    color: var(--bodybgc);
    font-size: 1.4rem;
    text-align: center;
    width: 16em;
    border-radius: 0.3em;
    margin-right: 1em;
    cursor: pointer;
}
.backgroundPhotoLabel{
    background-color: #025bee;
    color: var(--bodybgc);
    font-size: 1.4rem;
    text-align: center;
    width: 16em;
    border-radius: 0.3em;
    margin-right: 1em;
    cursor: pointer; 
}
.error{
    text-align: left;
    color:var(--googlered);
}


.bodyChips{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: var(--hoverkremi);
}
.wrapperChips{
    width: 49.6rem;
    background-color: var(--bodybgc);
    border-radius: 10px;
    padding: 18px 25px 20px;
}
.wrapperChips :where(.titleChips,li,li i, .detailsChips) {
    display: flex;
    align-items: center;
}
.wrapperChips .titleChips h2{
    font-size: 2.1rem;
    font-weight: 600;
}
.wrapperChips .titleChips .fa-tags{
    font-size: 2.1rem;
}
.wrapperChips .contentChips{
    margin: 10px 0;
}
.contentChips p{
    font-size: 1.5rem;
}
.contentChips ul{
    display: flex;
    padding: 7px;
    margin:12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}
.contentChips ul li{
    list-style: none;
    margin: 4px 3px;
    border-radius: 5px;
    padding: 5px 8px 5px 10px;
    background-color: #f2f2f2;
    border:1px solid #e3d1e1;
    display: flex;
    font-size: 1.5rem;
}
.contentChips ul li i{
    height: 20px;
    cursor: pointer;
    width: 20px;
    font-size: 1.2rem;
    background: #dfdfdf;
    border-radius: 50%;
    margin-left: 8px;
    color:#808080;
    justify-content: center;
}
.contentChips ul input{
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 1.6rem;
    border: none;
}
.wrapperChips .detailsChips{
    justify-content: end;

}
.detailsChips button{
    border: none;
    outline: none;
    background: var(--linkedinlacivert); 
    color: var(--bodybgc);
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}