:root {
    --bgc: #fff;
    --linkedinmavisi: #0d6efd;
    --hoverkremi: #ddd;
    --textcolor: #000;
    --grirenk: rgb(0 0 0 / 60%);
    --googlered: #de5246;
    --googlegrey: #d2d2d2;
    --googledarkgrey: #2d2d2d;
    --linkedinlacivert: #004182;
    --colorcrema: #FAF3F0;
    --asd: #FFF0F5;
    --bodybgc: #f3f2ef;
    --grey: #666;
}
.jw-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: 40px;
    overflow: auto;
}
.jw-modal.open {
    display: block;
}
.jw-modal-body {
    width: 50%;
    background: #fff;
    height: 90%;
    margin: auto;
    border-radius: 5px;
}
.modalInput {
    display: flex;
    margin-bottom: 5px;
    font-size: 2rem;
    width: 100%;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}
.modalPhoto img {
    border-radius: 50%;
    object-fit: cover;
    width: 5.6rem;
    height: 5.6rem;
}
.photoCard {
    display: flex;
    width: 744px;
}
.modalPhoto {
    display: flex;
}
.modalProfileInfo {
    margin-left: 0.4rem;
    padding-left: 0.8rem;
    align-self: center;
}
.fa-xmark {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    align-items: center;
    color: var(--googledarkgrey);
}
.modalCrossIcon i:hover {
    border-radius: 50%;
    background-color: var(--bodybgc);
}
.modalCrossIcon {
    padding-left: 15rem;
}
.btnModals {
    display: flex;
    border: none;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 5px;
}
.btnModals:hover {
    background-color: var(--bodybgc);
}
.smileFaceEmoji a i {
    font-size: 2.5rem;
    color: var(--googledarkgrey);
}
.smileFaceEmoji {
    padding-left: 1.5rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 10px 15px;
}
.smileFaceEmoji a {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}
.smileFaceEmoji a:hover {
    background-color: var(--bodybgc);
}
.modalShareIcon {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
    border-bottom: 1px solid var(--googlegrey);
}
.modalShareIcon li {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2rem;
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bodybgc);
    font-size: 2rem;
    border: none;
    transition: ease 0.15s;
    cursor: pointer;
}
.modalShareIcon li:hover {
    box-shadow: 0 4px 2px 3px var(--hoverkremi);
}
.modalShareIcon li a i {
    color: var(--grey);
}
.clockButton i {
    font-size: 2rem;
}
.clockButton {
    margin-right: 5px;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--bgc);
    transition: ease 0.3s;
}
.clockButton:hover {
    background-color: var(--hoverkremi);
}
.modalBottomDiv {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
}
.ShareButton {
    width: 9rem;
    height: 3.2rem;
    border: none;
    border-radius: 1.6rem;
    padding: 0.6rem 1.6rem 0.6rem 1.6rem;
    font-weight: 600;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--linkedinmavisi);
    color: var(--bgc);
    transition: ease 0.3s;
    cursor:not-allowed;
}
.ShareButton:hover {
    background-color: var(--linkedinlacivert);
    color: var(--bgc);
}
.ShareButton:disabled{
    background-color:var(--hoverkremi);
}